
.modelThumb{border: 1px solid #ddd;}
.modelThumb .thumb{text-align: center;position: relative;padding: 20px 0;min-height:200px}
.modelThumb .thumb img{width:200px;}
.modelThumb .thumb .icon{font-size: 30px;color: #111;position: absolute;bottom:30px;right:35%;}
.modelThumb .file-upload-btn{position: absolute;right:15px;bottom:45px}
.modelThumb p{position: absolute;bottom:5px;right:15px;margin: 0;width: 196px;text-align: center;}