
.modelThumb{border: 1px solid #ddd;}
.modelThumb .thumb{text-align: center;position: relative;padding: 20px 0;min-height:200px}
.modelThumb .thumb img{width:200px;}
.modelThumb .thumb .icon{font-size: 30px;color: #111;position: absolute;bottom:30px;right:35%;}
.modelThumb .file-upload-btn{position: absolute;right:15px;bottom:45px}
.modelThumb p{position: absolute;bottom:5px;right:15px;margin: 0;width: 196px;text-align: center;}


// 데이터 테이블
// #tableBox
.total_num{margin-top: 0.5rem; font-weight: 700;}
.total_num:before{content: '[';}
.total_num span{color: $primary; font-weight: 700;}
.total_num:after{content: ']';}


#tableBox{
  .table{
    th, td{text-align: center;}
    td{
      a{font-weight: bold; color: $primary; display: block;}
    }
  }
}